<DOCTYPE html>
    <html lang="us">
    <head>
        <meta charset="utf-8" />
        <title>
            MeaniMGAuth
        </title>
        <link rel="stylesheet" type="test/css" href="index.css" />
    </head>
    <body>
        <section>
            <div><p><a href="/api/">Home</a></p></div>
        </section>
        <section>
            <h1>Sign in</h1>
            <div><p> Not a member?  Please <a href="/api/register" > register</a> instead </p></div>
        </section>
        <section>
            <form method="post" action="">
                <label>email Address</label><input type="text" name="email"   /></br>
                <label>Password</label><input type="password" name="password"  /></br>
                <label>login</label><button type="submit" id="submit">login</button></br>
            </form>
        </section>
    </body>
    </html>
</DOCTYPE>