<DOCTYPE html>
    <html lang="us">
    <head>
        <meta charset="utf-8" />
        <title>
            MeaniMGAuth
        </title>
        <link rel="stylesheet" type="test/css" href="index.css" />
       <!--- <script type="text/javascript"> const token = await res.json(); document.cookie = `token=${token}`</script> --->
       <script>     function makeRequest(url, method) {
        var jwtToken = localStorage.getItem('token')
        var headers = {}
    
        if(jwtToken) {
            headers['Authorization'] = 'Bearer ' + jwtToken
        }
    
        return fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors',
            headers: headers
        })
    }    
    </script>
    </head>
    <body>
        <% sarvar07%>
        <section>
            <div><p><a href="/api/">Home</a></p></div>
        </section>
        <section>
          <h1>Your Profile</h1>
        <div><p> Full name:  </p><p><%= sarvar07.fullname %></p></div>  
        <div><p> email:   </p><p><%= sarvar07.email %></p></div>     
    </section>    
    </body>
    </html>
</DOCTYPE>